<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="passwordChangeForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Change your password</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>New Password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'password'"
                        type="password"
                        [placeholder]="'Password'"
                        [spellcheck]="false"
                        matInput>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>New password</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [placeholder]="'Confirm Password'"
                        [spellcheck]="false"
                        [formControlName]="'confirmPassword'"
                        type="password"
                        matInput>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Minimum 8 characters. Must include numbers, letters and special characters.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                (click)="cancel()"
                type="button">
                Cancel
            </button>
            <button
                #changePasswordButton
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="!passwordChangeForm.valid"
                [matTooltip]="'Change'"
                (click)="changePassword()">
                Change Password
            </button>
        </div>
    </form>

</div>
