<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Change Password</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <form
        class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
        [formGroup]="passwordChangeForm">

        <!-- Password -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full" required="">
            <mat-label>New Password</mat-label>
            <input
                matInput
                type="password"
                [formControlName]="'password'"
                [placeholder]="'Password'"
                [spellcheck]="false">
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full" required="">
            <mat-label>Confirm Password</mat-label>
            <input
                matInput
                type="password"
                [formControlName]="'confirmPassword'"
                [placeholder]="'Confirm Password'"
                [spellcheck]="false">
        </mat-form-field>

        <!-- Edit Actions -->
        <div class="flex items-center justify-between mt-4">
            <!-- Save -->
            <button
                class="ml-2"
                mat-flat-button
                [color]="'primary'"
                [disabled]="passwordChangeForm.invalid"
                [matTooltip]="'Change'"
                (click)="changePassword()">
                Change Password
            </button>
            <!-- Close -->
            <button
                mat-flat-button
                (click)="matDialogRef.close()">
                Close
            </button>
        </div>
    </form>
</div>
