<div class="w-full max-w-3xl">

    <!-- Form -->
    <form>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Retrieve and Reset your Client App Keys</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current key id -->
            <div class="flex flex-row sm:items-center sm:col-span-4">
                <mat-icon [svgIcon]="'heroicons_solid:key'"></mat-icon>
                <mat-label>Access Id:</mat-label>
                <div class="ml-6 leading-6">{{accessKeyId}}</div>
            </div>
            <!-- Current secret key -->
            <div class="flex flex-row sm:items-center sm:col-span-4">
                <mat-icon [svgIcon]="'heroicons_solid:key'"></mat-icon>
                <mat-label>Access Key:</mat-label>
                <div class="ml-6 leading-6">{{secretAccessKey}}</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-between">
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                (click)="showHideKeys()"
                [color]="'primary'">{{showHideKeyText}}
            </button>

            <button
                class="ml-4"
                mat-flat-button
                type="button"
                (click)="createNewKeys()"
                [color]="'primary'">Get New Keyset
            </button>
        </div>
    </form>

</div>
